= error_messages_for 'post'
- form_for(@post) do |f|
  %p
    = f.label :title
    = f.text_field :title

  %p
    = f.label :body
    = f.text_area :body
  %p
    = f.label :password
    = f.text_field :password
  %p
    = submit_tag 'Create'